.container-answer-quizz {
    width: 100%;
  }
  
  .container-answer-quizz .quizz-header {
    width: 100%;
    height: 227px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: anywhere;
    overflow: hidden;
  }
  
  .quizz-title {
    font-size: 3.9rem;
    font-weight: 400;
    color: #fff;
  }
  
  .box-quizz-questions {
    width: 759px;
    margin: 0 auto;
  }
  
  .quizz-question,
  .quizz-answer {
    font-weight: 700;
    background-color: #fff;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.05);
    margin-top: 42px;
    padding: 28px 36px 0 36px;
  }
  
  .question-header,
  .answer-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    overflow-wrap: break-word;
    overflow: hidden;
  }
  
  .question-header {
    height: 138px;
    background-color: #ffffff;
  }
  
  .answer-header {
    height: 99px;
    background-color: #ec362d;
  }
  
  .question-title,
  .answer-title {
    max-width: 100%;
    max-height: 100%;
    font-size: 2.3rem;
    color: #fff;
    overflow: hidden;
  }
  
  .box-question-options,
  .answer-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 1.8rem;
  }
  
  .question-option {
    width: 48%;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    overflow-wrap: anywhere;
    overflow: hidden;
    cursor: pointer;
  }
  
  .option-img {
    width: 100%;
    aspect-ratio: calc(4 / 3);
    object-fit: cover;
    height: auto;
  }
  
  .option-text {
    font-size: 2rem;
    margin-bottom: 1.8rem;
  }
  
  .quizz-answer {
    margin-bottom: 5.7rem;
  }
  
  .box-answer {
    margin-bottom: 69px;
  }
  
  .answer-body {
    overflow-wrap: anywhere;
    overflow: hidden;
  }
  
  .answer-img {
    width: 50%;
    height: 39%;
    margin-bottom: 2.2rem;
  }
  
  .answer-text {
    width: 48%;
    font-size: 1.9rem;
    color: #484848;
    margin-bottom: 2.2rem;
  }
  
  .unselected-option {
    opacity: 60%;
  }
  
  .right-option {
    color: #009c22;
    cursor: default;
  }
  
  .wrong-option {
    color: #ff4b4b;
    cursor: default;
  }
  
  .btn-restart {
    width: auto;
  }
  
  @media (max-width: 759px) {
    html {
      font-size: 8px;
    }
  
    .container-answer-quizz {
      width: 100%;
    }
  
    .container-answer-quizz .quizz-header {
      height: 180px;
    }
  
    .box-quizz-questions {
      width: 100%;
      margin: 0 auto;
    }
  
    .quizz-question,
    .quizz-answer {
      margin-top: 24px;
      padding: 18px 18px 0 18px;
    }
  
    .question-header {
      height: 89px;
      background-color: #434ca0;
    }
  
    .option-img {
      width: 100%;
      height: auto;
      max-height: 160px;
    }
  
    .answer-body {
      display: block;
    }
  
    .answer-img {
      width: 100%;
    }
  
    .answer-text {
      width: 100%;
    }
  
    .restart-quiz-button {
      width: 220px;
    }
  }

  .container-create-quizz {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
  }
  
  .container-create-quizz button {
    cursor: pointer;
  }
  
  .container-create-quizz .icon {
    cursor: pointer;
  }
  
  .container-create-quizz .quizz-init {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  
  .container-create-quizz .title {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
  }
  
  .buzzquizz-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  .buzzquizz-form-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 25px 20px;
    gap: 10px;
  }
  
  .buzzquizz-input {
    background: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    font-size: 16px;
    padding: 15px;
    color: #000;
    font-family: "Roboto";
  }
  
  .buzzquizz-input::placeholder {
    font-size: 16px;
    font-style: italic;
    font-family: "Roboto";
    color: #bababa;
  }
  
  .buzzquizz-input:focus {
    outline-color: #ec362d;
  }
  
  .quizz-questions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  .quizz-questions form .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  }
  .quizz-questions form .container .container-title {
    display: flex;
    justify-content: space-between;
  }
  
  .quizz-questions form .container .container-title .icon {
    display: none;
    font-size: 26px;
    color: #000;
    cursor: pointer;
  }
  
  .quizz-questions form .container.close .container-title .icon {
    display: initial;
  }
  
  .quizz-questions form .container .question,  
  .quizz-questions form .container .answers{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .quizz-questions form .container .answers {
    gap: 25px;
  }
  
  .quizz-questions form .container .answers .correct,
  .quizz-questions form .container .answers .incorrect {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
   
  .quizz-questions form .container .title {
    text-align: start;
  }
  
  .quizz-questions form .container.close > div:not(:first-child){
    display: none;
  }
  
  .quizz-levels {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .quizz-levels #form-level {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }
  
  
  
  .quizz-levels #form-level .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    gap: 10px;
  }
  
  .quizz-levels #form-level .container .container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .quizz-levels #form-level .container .container-title .icon {
    display: none;
    font-size: 26px;
    color: #000;
    cursor: pointer;
  }
  
  .quizz-levels #form-level .container.close .container-title .icon  {
    display: initial;
  }
  
  .quizz-levels #form-level .container.close > div:not(:first-child){
    display: none;
  }
  
  .quizz-levels #form-level textarea {
    height: 200px;
    resize: vertical
  }
  
  .quizz-levels {
    gap: 20px;
  }
  
  .quizz-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  
  .quizz-success .container-img {
    width: 100%;
    display: flex;
    position: relative;
    border-radius: 5px;
  }
  
  .quizz-success .container-img .filter {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%), url(image.png);
  }
  
  .quizz-success .container-img img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: calc(16/9);
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .button-group button {
    padding: 20px 40px;
    cursor: pointer;
  }
  
  .button-group button:nth-child(2) {
    border: 0;
    background: transparent;
    padding: 10px;
    color: #818181;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
  }
  
  @media screen and (min-width: 1100px) {
    .container-create-quizz .quizz-init {
      max-width: 600px;
    }
  
    .container-create-quizz .quizz-init .buzzquizz-form {
      gap: 90px;
    }
  
    .buzzquizz-input {
      padding: 15px 20px;
    }
  
    .container-create-quizz .quizz-questions {
      max-width: 600px;
    }
  
    .container-create-quizz .quizz-levels {
      max-width: 600px;
    }
  }

  .no-quizzes {
    margin: 146px auto 77px auto;
    width: 1051px;
    height: 181px;
    border: 1px dashed #d5d5d5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.no-quizzes h2 {
    margin-bottom: 30px;
    width: 250px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #b9b9b9;
}
  
.no-quizzes button {
    cursor: pointer;
    width: 151px;
    height: 40px;
    border: 1px dashed #ec362d;
    border-radius: 50px;
    background-color: #fafafa;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #ec362d;
}
  
.your-quizzes {
    margin: 134px auto 48px auto;
    width: 1066px;
}
  
.your-quizzes h2 {
    margin-bottom: 3px;
    margin-left: 7.5px;
    display: flex;
    align-items: center;
}
  
ion-icon[name="add-circle"] {
    cursor: pointer;
    margin-left: 10px;
    font-size: 31px;
    color: #ec362d;
}
  
.all-quizzes {
    margin: 0 auto;
    width: 1066px;
}
  
.all-quizzes h2 {
    margin-bottom: 6px;
    margin-left: 7.5px;
}
  
.your-quizzes h2,
.all-quizzes h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
  
.your-quizzes div,
.all-quizzes div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.your-quizzes div figure,
.all-quizzes div figure {
    cursor: pointer;
    position: relative;
    margin: 6px 7.5px;
    width: 340px;
    height: 181px;
    border-radius: 5px;
}
  
.your-quizzes div figure::after,
.all-quizzes div figure::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.3) 65%,
      rgba(0, 0, 0, 0.8) 100%
    );
}
  
.your-quizzes div figure img,
.all-quizzes div figure img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
  
.your-quizzes div figure figcaption,
.all-quizzes div figure figcaption {
    position: absolute;
    z-index: 1;
    bottom: 7px;
    left: 18px;
    right: 18px;
    width: 304;
    height: 54px;
    padding: 8px 0;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    word-wrap: break-word;
    overflow: hidden;
    color: #ffffff;
}
  
@media (max-width: 1100px) {
    .no-quizzes {
        margin-top: 100px;
        margin-bottom: 38px;
        width: 90%;
    }
  
    .your-quizzes {
        margin-top: 100px;
        margin-bottom: 35px;
        width: 90%;
    }
  
    ion-icon[name="add-circle"] {
        margin: 0 0 0 auto;
    }
  
    .all-quizzes {
        width: 90%;
    }
}
  
@media (max-width: 600px) {
    .your-quizzes h2,
    .all-quizzes h2 {
        margin-left: 0;
    }
  
    .your-quizzes div figure,
    .all-quizzes div figure {
        margin-right: 0;
        margin-left: 0;
    }
}
  
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.hide {
  display: none !important;
}

body {
  background: #fafafa;
  font-family: "Roboto", sans-serif;
}

.buzzquizz-header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 69px;
  display: flex;
  background: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buzzquizz-header .title {
  margin: auto auto;
  font-weight: bold;
  font-size: 37px;
  line-height: 43px;
  color: #ffffff;
  cursor: pointer;
}

.buzzquizz-button {
  width: 100%;
  max-width: 370px;
  background: #ec362d;
  border-radius: 15px;
  color: #fff5f4;
  padding: 20px;
  border: none;
  outline-color: transparent;
  font-size: 18px;
}

.container-pages {
  width: 100%;
  margin-top: 69px;
}

#app {
  width: 100%;
}

  
































/*

.header{
    width: 100vw;
    height: 69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 37px;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    justify-content: center;
}

.criarNovoQuizz{
    box-sizing: border-box;
    width: 75vw;
    height: 181px;
    font-family: 'Roboto';
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin: 77px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 33px;
}

.textoAindaNaoCriou{
    width: 250px;
    height: 107px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
}

.botaoCriarNovoQuizz{
    font-family: 'Roboto';
    box-sizing: border-box;
    width: 151px;
    height: 40px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    font-weight: 400;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EC362D;
}

.boxTodosOsQuizzes{
    height: 420px;
    width: 75vw;
    margin: 0 auto;
}

.todosQuizzes{
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}

.quizzDoServidor{
    width: fit-content;
    height: fit-content;
    position: relative;
}

.tituloTodosOsQuizzes{
    height: 23px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    margin-bottom: 12px;
}

.imagemQuizzesDoServidor{
    width: 340px;
    height: 181px;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%), url(image.png);
}

.tituloDeCadaQuizzDoServidor{
    color: #FFFFFF;
    position: absolute;
    bottom: 12px;
    left: 18px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 19px;
}








header{
    width: 100vw;
    height: 69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 37px;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1;
}

.capa {
    margin-top: 69px;
    width: 100%;
    height: 227px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto';
    font-size: 39px;
    font-weight: 400;
}

.capa img{
    width: 100%;
    height: 227px;
    filter: brightness(40%);
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.capa p{
    font-weight: 400;
    font-size: 39px;
    line-height: 45px;
    color: #FFFFFF;
    position: absolute;
    word-break: break-word; 
}

.conteudo-tela-2 {
    display: flex;
    justify-content: center;
    background-color: #E5E5E5;
}

.pergunta {
    height: 676px;
    width: 759px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

    margin-top: 42px;
}

.quiz-selecionado {
    width: 100%;
    height: 142px;
    display: inline-block;
    position: relative;
    margin-top: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-selecionado img {
    width: 100%;
    height: 100%;
}

.quiz-selecionado p {
    color: #FFFFFF;
    height: 54px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 39px;
    line-height: 22px;
    position: absolute;
    top: 60px;
    text-align: center;
}

.quiz-perguntas {
    background-color: #FFFFFF;
    width: 760px;
    height: 630px;
    padding: 18px 28px 23px 28px;
    margin: 50px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.quiz-titulo {
    background-color: #434CA0;
    width: 100%;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 18px;
}

.quiz-conteudo {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quiz-conteudo img {
    width: 330px;
    height: 175px;
    line-height: 23px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.opcao div {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
}

*/